<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        Filters 
      </div>
    </div>
  </div>
</div>


<div class="wrapper_index">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
      <% @cooks.each do |cook| %>
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= %>');">
            <div class="card-category"><%= cook.speciality %></div>
            <div class="card-description">
              <h2>Chez <%= cook.nickname %></h2>
              <p><%= cook.motto %></p>
            </div>
            <%= image_tag current_user.facebook_picture_url, class: 'card-user avatar' %>
            <%= link_to "", cook_path(cook), class: 'card-link' %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4">
        Maps
      </div>
    </div>
  </div>
</div>