<<<<<<< HEAD

<div class="cover">
  <div class="user">
    <%= cl_image_tag(@cook.photo_cooker.path, width: 880, height: 1320, crop: :fill) %>
=======
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="image_pic_show col-xs-4">
        <%= cl_image_tag(@cook.cooker_photo.path, crop: :fill, class: 'image_pic_show') %>
      </div>
      <div class="summary col-xs-8">
        <h2> Your cooker : </h2>
        <h3><%= @cook.nickname %> , <%= @cook.age %></h3>
        <h4>Speciality : <b><%= @cook.speciality %></b></h4>
        <h4>Home style: <b><%= @cook.home_style %></b></h4>
        <h4>Kitchen capacity: <b><%= @cook.capacity %></b></h4>
        <h4>My motto: <b><%= @cook.motto %></b></h4>
        <h4>Price: <b><%= @cook.price %></b></h4>
        <h4>Address: <b><%= @cook.address %></b></h4>
      </div>
    </div>    
>>>>>>> master
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <div style="float: right;">
        <% @cook.recipe_photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
        <% end %>
        <% @cook.location_photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
        <% end %>
        </div>
        </div>      
    </div>
  </div>
</div>
<<<<<<< HEAD
=======

>>>>>>> master
