<div class="banner image_bg">
	<%= render 'shared/video_bg' %>
	<div class="banner-content">
		<h1>Mamarmitte</h1>
		<p>Eat at home, away</p>
	</div>
	<div class='search-box'>
		<form class='search-form' action="cooks">
			<input class='form-control text-center' placeholder='Type your search...' type='text' style="font-size: 1.4em;color: #36D1C4" name="search">
			<button class='btn btn-link search-btn search_btn'>
				<i class='glyphicon glyphicon-search' style="left: -1px;"></i>
			</button>
		</form>
	</div>
</div>
<div class="wrapper">
	<div class="container">
		<div class="div_decouvrir">
			<%= link_to "Découvrir nos Mamarmites!", cooks_path, class: 'btn_decouvrir' %>
		</div>
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-xs-12 text-center" style="margin-bottom: 1em;">
        <%= link_to cooks_path(speciality: "Italian") do %>
          <%= cl_image_tag 'italian_flag_2_njg5vd.png' %>
        <% end %>
        <%= link_to cooks_path(speciality: "French") do %>
          <%= cl_image_tag 'french_flag_2_plumos.png' %>
        <% end %>
        <%= link_to cooks_path(speciality: "Moroccan") do %>
          <%= cl_image_tag 'morocco_flag_nplymo.png' %>
        <% end %>
        <%= link_to cooks_path(speciality: "Indian") do %>
          <%= cl_image_tag 'Indian_flag_ofk3vn.png' %>
        <% end %>
        <%= link_to cooks_path(speciality: "Chinese") do %>
          <%= cl_image_tag 'chinese_flag_x804ce.png' %>
        <% end %>
          <%= cl_image_tag 'israelite_flag_hzny8r.png' %>
			</div>
		</div>
		<div>
			<h2 class="text-center" style="margin-top: 1em;color: #777;">Top cookers</h2>

			<div class="row row_cards">
				<% @cooks.first(3).each do |cook| %>
				<div class="col-xs-12 col-sm-3">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cook.recipe_photos.first.path %>')">
						<div class="card-category"><%= cook.speciality %></div>
						<div class="card-description">
							<h2>Chez <%= cook.nickname %></h2>
							<p><%= cook.motto %></p>
						</div>
						<%= cl_image_tag cook.cooker_photo.path, class: 'card-user avatar' %>
						<%= link_to "", cook_path(cook), class: 'card-link' %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
